

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared styles */
.text-center{
    text-align: center;
}
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}
.dark-2{
    color: #474747;
}
.section-title{
    font-weight: bold;
    font-size: 35;
    color: #181818;
}
.section-desc{
    font-size: 18px;
    font-style: normal;
    color: #757575;
}

/* nav styles */
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png') ;
    background-position: top left, bottom right;
    background-repeat: no-repeat ;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items:center ;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 585px;
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-desc{
    font-size: 18px;
}
.banner-image{
    width: 585px;

}
/* style for main */
/* main{ 
    max-width: 1140px;
    margin: o auto;
} */
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* styles for about */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-desc{
    font-weight: 600;
}
/* style for what I can do */
.section-desc{
   
    margin: 0 auto;
}
/* style for skills */
.skills-container{
    display: flex;
    gap: 24px;
}
.skills{
    padding: 30px;
    box-shadow: 0 6px 50px 0 black;
}
/* resume section */
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-sub-title{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}
.resume hr{
    margin: 30px 5px;
}
.resume-download-cv{
    margin-top: 30px;
}